#https://datascientest.com/docker-compose-tout-savoir

services:
  nginx:
    container_name: nginx
    build: ./nginx
    ports: 
    - 80:80
    - 443:443
    networks: 
    - inception_lan
    volumes: 
    - wordpress_files:/var/www/wordpress
    depends_on: 
     - wordpress
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "nginx -t"]
      interval: 10s
      timeout: 5s
      retries: 5
  wordpress:
    container_name: wordpress
    build: ./wordpress
    networks: 
    - inception_lan
    environment:
      MYSQL_DB_NAME: ${MYSQL_DB_NAME}
      MYSQL_USER_NAME: ${MYSQL_USER_NAME}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}
      SQL_SERVICE: ${SQL_SERVICE}
      MARIADB_PORT: ${MARIADB_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      WP_TITLE_SITE: ${WP_TITLE_SITE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_PASSWORD: ${WP_ADMIN_PASSWORD}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      DOMAIN_NAME: ${DOMAIN_NAME}
      WP_USER: ${WP_USER}
      WP_USER_PASSWORD: ${WP_USER_PASSWORD}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
    volumes: 
    - wordpress_files:/var/www/wordpress
    depends_on: 
    - mariadb
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pidof php-fpm8.2"]
      interval: 10s
      timeout: 5s
      retries: 5
  mariadb:
    container_name: mariadb
    build: ./mariadb
    networks: 
    - inception_lan
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}   
      MYSQL_USER_NAME: ${MYSQL_USER_NAME}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}
      MYSQL_DB_NAME: ${MYSQL_DB_NAME}
    volumes: 
    - wordpress_db:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  wordpress_db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/sylabbe/data/mariadb

  wordpress_files:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/sylabbe/data/wordpress 

#Ils définissent comment les différents services communiquent entre eux. Il est possible de créer des réseaux  personnalisés pour isoler les services, ou utiliser des réseaux par défaut.
networks:
  inception_lan:
    name: inception_lan
    driver: bridge

#Vous avez la possibilité de définir des variables d’environnement pour vos services. Elles peuvent être utilisées pour configurer le comportement de vos applications. Vous pouvez les définir directement dans le fichier Docker Compose, ou alors dans un fichier .env





#cmds:
#construction des containers necessaires, volumes, reseaux, etc
#docker-compose up
#arret des services
#docker-compose down
#redemarrer les serservices
#docker-compose restart
#afficher les infos des dockers up
#docker-compose ps
#Surveille les containers grace a des logs
#docker-compose logs <nomservice>

