#https://datascientest.com/docker-compose-tout-savoir

#Ce paramètre est indispensable, et indique à Docker Compose la version à utiliser, conformément à la version de Docker installée sur votre système.
#version: "3.8" (obsolete?)

#Cette section est l’endroit où vous allez définir les différents conteneurs de votre application. Chaque service est un conteneur individuel qui peut être construit depuis une image Docker existante (via un repository Docker Hub par exemple), ou depuis un Dockerfile personnalisé.
services:
  nginx:
    build: ./nginx
    ports: 
    - 443:443
    networks: 
    - inception_lan
    volumes: 
    - wordpress_files:/var/www/wordpress
    depends_on: 
     - wordpress
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -f -k https://localhost:443"]
      interval: 10s
      timeout: 5s
      retries: 5    
  wordpress:
    build: ./wordpress
    #ports: (a voir)
    networks: 
    - inception_lan
    environment:
      MYSQL_DB_NAME: ${MYSQL_DB_NAME}
      MYSQL_USER_NAME: ${MYSQL_USER_NAME}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}
      SQL_SERVICE: ${SQL_SERVICE}
    volumes: 
    - wordpress_files:/var/www/wordpress
    depends_on: 
    - mariadb
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pidof php-fpm8.2"]
      interval: 10s
      timeout: 5s
      retries: 5
  mariadb:
    build: ./mariadb
    networks: 
    - inception_lan
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}   
      MYSQL_USER_NAME: ${MYSQL_USER_NAME}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}
      MYSQL_DB_NAME: ${MYSQL_DB_NAME}
    volumes: 
    - wordpress_db:/var/lib/mysql
    depends_on: []
    restart: on-failure
    healthcheck:
      test: ["CMD", "sh", "-c", "myslqadmin ping -h localhost -u root -p$$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5

#Ils vous permettent de spécifier les volumes montés dans vos conteneurs. Ils sont utilisés pour stocker des données persistantes ou pour partager des fichiers entre conteneur.
#volumes:
#  wordpress_db:
#    driver_opts:
#      device: /home/sylabbe/data/mariadb
#  wordpress_files:
#    driver_opts:
#      device: /home/sylabbe/data/wordpress

volumes:
  wordpress_db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/sylabbe/data/mariadb

  wordpress_files:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/sylabbe/data/wordpress 

#	Ils définissent comment les différents services communiquent entre eux. Il est possible de créer des réseaux  personnalisés pour isoler les services, ou utiliser des réseaux par défaut.
networks:
  inception_lan:
    driver: bridge

#Vous avez la possibilité de définir des variables d’environnement pour vos services. Elles peuvent être utilisées pour configurer le comportement de vos applications. Vous pouvez les définir directement dans le fichier Docker Compose, ou alors dans un fichier .env





#cmds:
#construction des containers necessaires, volumes, reseaux, etc
#docker-compose up
#arret des services
#docker-compose down
#redemarrer les serservices
#docker-compose restart
#afficher les infos des dockers up
#docker-compose ps
#Surveille les containers grace a des logs
#docker-compose logs <nomservice>


#CHECK HEALTHY CA A L'AIR GENIAL CA CHECK L'ETAT DE TON CONTAINER
